body {
  background: #f0f0f0;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
}
.search-input {
  position: fixed;
  left: 26rem;
  width: 400px;
  height: 22px;
  font-size: medium;
}
.page-container {
  max-width: 1100px;
  margin: 0 auto;
}
.cards-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  box-sizing: border-box;
}
.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  max-width: 320px;
  min-width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  top: 40px;
}

span {
  display: block;
}
.card-line {
  padding: 5% 5% 3% 5%;
}
.card-header {
  position: relative;
  height: auto;
}

.card-title {
  background-color: floralwhite;
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  width: 100%;
}
h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
h1 {
  color: #d4d8de;
  text-shadow: -1px 2px 17px black;
}
button {
  width: 9rem;
  height: 2rem;
  background: slategrey;
  font-weight: 600;
  font-size: medium;
  color: mintcream;
}
button.toggle-theme {
  position: fixed;
  z-index: 9999;
  top: 7px;
  left: 17px;
}
.button-container.header {
  position: fixed;
  height: 3rem;
  z-index: 999;
  width: 100%;
  background: slategrey;
  top: 0;
}
button.back {
  margin-right: 15px;
}
.button-container,
.title-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.title .button-container,
.title .title-container {
  justify-content: center;
}
div.card:hover {
  background: floralwhite;
  filter: contrast(70%);
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 500ms;
}
.edit-field {
  display: flex;
  justify-content: space-between;
}
.edit-field input {
  width: 234px;
  height: 20px;
  font-size: 17px;
}

.card-image {
  height: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-image: url(https://unsplash.it/800/600?image=82);
}
div.no-data {
  margin-top: 5rem;
}